{% extends 'RadioActiv8/master/heading.html' %}
{% load bootstrap4 %}
{% block bootstrap4_title %}RadioActiv8 - GPS Trackers{% endblock %}
{% block bootstrap4_content %}
{% if gpstracker_list %}
<ul>
    {% for gpstracker in gpstracker_list %}
    <li><a href="{% url 'RadioActiv8:GPSTrackerDetail' gpstracker.id %}">{{ gpstracker.name }}</a>{% if gpstracker.patrol %} Patrol: {{ gpstracker.patrol }}{% endif %}</li>
    {% endfor %}
</ul>
{% else %}
<p>No Sessions are available.</p>
{% endif %}
{% endblock %}