{% extends 'RadioActiv8/master/heading.html' %}
{% load bootstrap4 %}
{% load static %}
{% block bootstrap4_title %}RadioActiv8 - Map{% endblock %}
{% block bootstrap4_extra_head %}
{{ block.super }}
<!--
<link rel="stylesheet" href="{% static 'RadioActiv8/css/ol-6.10.0.css' %}" type="text/css">
<script src="{% static 'RadioActiv8/js/ol-6.10.0.js' %}"></script>
<meta http-equiv="refresh" content="5"/>
-->
<meta property="og:description"
  content="Add a GeoJSON line to a map using addSource, then style it using addLayer’s paint properties." />
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='{% static "RadioActiv8/css/maplibre-gl_3.3.1.css" %}' />
<script src='{% static "RadioActiv8/js/maplibre-gl_3.3.1.js" %}'></script>
<!--<link rel='stylesheet' href='https://unpkg.com/maplibre-gl@3.3.1/dist/maplibre-gl.css' />
<script src='https://unpkg.com/maplibre-gl@3.3.1/dist/maplibre-gl.js'></script>-->
<style>
  body {
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #map {
    height: 100%;
  }
</style>
{% endblock %}
{% block bootstrap4_content %}
<div id="map"></div>
<script>
  const map = new maplibregl.Map({
    container: 'map',
    style:
      'https://api.maptiler.com/maps/outdoor/style.json?key=SB7UvYPF7YFqFfeaJL8J',
    center: [{{ route.centroid.x }}, {{ route.centroid.y }} ],
  zoom: 15
  });

  map.on('load', () => {
    map.addSource('route', {
      'type': 'geojson',
      'data': {{ session_geojson| safe }}
    });
  map.addSource('bases', {
    'type': 'geojson',
    'data': {{ bases_geojson| safe }}
  });
  map.addSource('patrols', {
    'type': 'geojson',
    'data': {{ patrols_geojson| safe }}
  });
  map.addLayer({
    'id': 'route',
    'type': 'line',
    'source': 'route',
    'layout': {
      'line-join': 'round',
      'line-cap': 'round'
    },
    'paint': {
      'line-color': '#c813ff',
      'line-width': 4
    }
  });
  map.addLayer({
    'id': 'bases',
    'type': 'circle',
    'source': 'bases',
    'paint': {
      'circle-color': '#013cff',
      'circle-radius': 6,
      'circle-stroke-width': 2,
      'circle-stroke-color': '#ffffff'
    }
  });
  map.addLayer({
    'id': 'patrols',
    'type': 'circle',
    'source': 'patrols',
    'paint': {
      'circle-color': '#f00',
      'circle-radius': 6,
      'circle-stroke-width': 2,
      'circle-stroke-color': '#ffffff'
    }
    /*'layout': {
        'icon-image': 'custom-marker',
        // get the year from the source's "year" property
        'text-field': ['get', 'name'],
        'text-font': [
            'Open Sans Semibold',
            'Arial Unicode MS Bold'
        ],
        'text-offset': [0, 1.25],
        'text-anchor': 'top'
    }*/
  });
  map.addControl(new maplibregl.NavigationControl());
  });
</script>
</body>

</html>


{% endblock %}
