{% extends 'RadioActiv8/master/heading.html' %}
{% load static %}
{% load bootstrap4 %}
{% block bootstrap4_title %}RadioActiv8 - Participant homepage{% endblock %}
{% block bootstrap4_content %}
    {% if form.subject.errors %}
        <ol>
            {% for error in form.subject.errors %}
                <li>
                    <strong>{{ error|escape }}</strong>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    <p>
        <a class="btn btn-success"
           role="button"
           href="{% static 'RadioActiv8/img/participant_map.png' %}">Map</a>
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Show Bases">
    </form>
{% endblock %}
