{% extends "RadioActiv8/master/heading.html" %}
{% load bootstrap4 %}
{% block bootstrap4_title %}
    RadioActiv8 - GPS Tracker {{ gpstracker }}
{% endblock bootstrap4_title %}
{% block bootstrap4_content %}
    <div class="container">
        {% if messages %}
            <div class="col m-3">
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if form.subject.errors %}
            <ol>
                {% for error in form.subject.errors %}
                    <li>
                        <strong>{{ error|escape }}</strong>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        <div class="col m-3">
            <a href="{% url 'RadioActiv8:GPSTrackerList' %}"
               class="btn btn-secondary">Back to tracker list</a>
            <hr>
            <h3>
                <strong>GPS Tracker:</strong> {{ gpstracker }}
            </h3>
            <hr>
            <ul>
                <li>Name: {{ gpstracker.name }}</li>
                <li>EUI: {{ gpstracker.eui }}</li>
                <li>Patrol: {{ gpstracker.patrol }}</li>
            </ul>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <hr>
                <p>
                    <input type="submit" class="btn btn-warning" value="Assign to Patrol">
                </p>
            </form>
        {% endblock bootstrap4_content %}
    </div>
</div>
