{% extends 'RadioActiv8/master/heading.html' %}
{% load static %}
{% load bootstrap4 %}
{% block bootstrap4_title %}RadioActiv8 - Play{% endblock %}
{% block bootstrap4_content %}

<div style="color: var(--light);background: var(--dark);">
    <!-- Start: Patrol Control Frame -->
    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <!-- Start: 7 Rows 1+4 Columns -->
        <div class="container">

            <div class="row justify-content-center" style="padding: 5px 0px;">
                <div class="col-md-12 col-xl-12 offset-xl-0 text-monospace"></div>
            </div>

            <div class="dashed-border">
                <div class="row mx-0 justify-content-center grey-bg-warning-text" style="padding: 10px 0px 0px 0px;">
                    <div class="col-md-3 col-xl-3 offset-xl-0 text-monospace">
                        <div class="row mx-0 justify-content-center grey-bg-warning-text"
                            style="padding: 10px 0px 0px 0px;">
                            <div class="col-md-12 col-xl-12 offset-xl-0 text-monospace">
                                <h4 class="text-monospace font-weight-bold">Log Event</h4>
                            </div>
                        </div>
                        {% include "RadioActiv8/event/create_form.html" %}
                    </div>
                    <div class="col-md-3 col-xl-3 offset-xl-0 text-monospace">
                        <div class="form-group">
                            <!-- Start: Sort by "Longest Time since used" -->
                            <h1 class="text-monospace text-uppercase font-weight-bold"
                                style="font-size: 12pt;color: var(--black);">AVAILABLE BASES:
                            </h1>
                            <!-- End: Sort by "Longest Time since used" -->
                            <ul class="list-unstyled text-monospace text-uppercase">
                                {% if available_bases %}
                                {% for available_base in available_bases %}
                                <li><a class="text-success" href="{% url 'admin:RadioActiv8_base_change' available_base.id %}">{{ available_base }} ({{ available_base.get_patrols_count }}/{% if available_base.max_patrols is None %}∞{% else %}{{ available_base.max_patrols }}{% endif %})</a></li> {% endfor %}
                                {% else %}
                                <li>NO AVAILABLE BASES!!!</li>
                                {% endif %}
                            </ul>
                            <h1 class="text-monospace text-uppercase font-weight-bold"
                                style="font-size: 12pt;color: var(--black);">FULL BASES:</h1>
                            <ul class="list-unstyled text-monospace text-light">
                                {% if full_bases %}
                                {% for full_base in full_bases %}
                                <li>
                                    <a class="text-nowrap text-danger" href="{% url 'admin:RadioActiv8_base_change' available_base.id %}">{{full_base.name}}</a>:<br />
                                    {% for patrol in full_base.get_patrols %}
                                    <a class="text-warning" href="{% url 'admin:RadioActiv8_patrol_change' patrol.id %}">{{patrol.name}}</a>{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </li>
                                {% endfor %}
                                {% else %}
                                <li>NO FULL BASES 😀</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3 offset-xl-0 text-monospace">
                        <div class="form-group">
                            <!-- Start: sort by "Last Updated" -->
                            <h1 class="text-monospace text-uppercase font-weight-bold"
                                style="font-size: 12pt;color: var(--black);">
                                Patrol Locations:
                            </h1>
                            <!-- End: sort by "Last Updated" -->
                            <ul class="list-unstyled text-monospace text-uppercase text-light">
                                {% if busy_patrols %}
                                {% for busy_patrol in busy_patrols %}
                                <li><a class="text-danger" href="{% url 'admin:RadioActiv8_patrol_change' busy_patrol.id %}">{{busy_patrol.name}}</a> @ <a class="text-warning"
                                        href="{% url 'admin:RadioActiv8_base_change' busy_patrol.current_base.id %}">{{busy_patrol.current_base.name}}</a></li>
                                {% endfor %}
                                {% else %}
                                <li>NO PATROLS LOGGED!!!</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End: 7 Rows 1+4 Columns -->
    </main>
    <!-- End: Patrol Control Frame-->
</div>

{% endblock %}