{% extends 'master/heading.html' %}
{% load bootstrap4 %}
{% block bootstrap4_content %}

<body style="color: var(--danger);background: var(--dark);">
    <!-- Start: Login Form Clean -->
    <section class="login-clean" style="background: rgb(0,0,0);">
        <form method="post" style="color: inherit;background: rgb(0,0,0);">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration" style="color: inherit;">
                <h1 style="color: var(--danger);font-family: 'Bebas Neue', serif;font-size: 48pt;text-align: center;">RADIOACTIV8</h1><i class="fab fa-codepen" style="color: inherit;font-size: 100pt;"></i>
            </div>
            <div class="form-group"><input class="form-control form-control-lg" type="text" name="portal_user" placeholder="Username" autofocus/></div>
            <div class="form-group"><input class="form-control form-control-lg" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><a class="btn btn-danger btn-block" role="submit" style="background: var(--danger);">Log In</a></div>
        </form>
    </section><!-- End: Login Form Clean -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

{% endblock %}