<form method="post" data-ajax-url="{% url 'RadioActiv8:event_ajax' %}">{% csrf_token %}
  <p>{{ form.session.label_tag }} {{ form.session }}</p>
  <p>{{ form.patrol.label_tag }} {{ form.patrol }}</p>
  <p><strong>Expected Location:</strong></p><p><span id='expected_location' class='alert alert-info d-flex align-items-center mt-3'>UNKNOWN</span></p>
  <p>{{ form.location.label_tag }} {{ form.location }}</p>
  <p>{{ form.intelligence_request.label_tag }} {{ form.intelligence_request }}</p>
  <p><strong>Intelligence suggestion:</strong></p><p><span id='intelligence_suggestion' class='alert alert-info d-flex align-items-center mt-3'>NONE</span></p>
  <p>{{ form.intelligence_answered_correctly.label_tag }} {{ form.intelligence_answered_correctly }}</p>
  <p>{{ form.destination.label_tag }} {{ form.destination }}</p>
  <p>{{ form.comment.label_tag }}</p><p>{{ form.comment }}</p>

  {{ form.media }}
  <input type="submit" value="Add Event" class="btn btn-warning">
  &nbsp;&nbsp;&nbsp;
  <input type="button" onClick="window.location.reload();" value="Clear Form" class="btn btn-secondary">
</form>