{% extends 'RadioActiv8/master/heading.html' %}
{% load bootstrap4 %}
{% block bootstrap4_content %}
<form method="post">{% csrf_token %}
    {{ session_form }}
    <input type="submit" value="Choose Session">
</form>
{% if event_list %}
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Session</th>
            <th scope="col">Patrol</th>
            <th scope="col">Location</th>
            <th scope="col">Intelligence Request</th>
            <th scope="col">Right Answer?</th>
            <th scope="col">Destination</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for event in event_list %}
        <tr>
            <th scope="row"><a href="{% url 'admin:RadioActiv8_event_change' event.id %}">{{ event.timestamp }}</a></th>
            <td>{{ event.session }}</td>
            <td>{{ event.patrol }}</td>
            <td>{{ event.location }}</td>
            <td>{{ event.intelligence_request.question }} - {{ event.intelligence_request.answer }}</td>
            <td>{{ event.intelligence_answered_correctly }}</td>
            <td>{{ event.destination }}</td>
            <td>{% if event.comment %}{{ event.comment }}{% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Events are available.</p>
{% endif %}
{% endblock %}