{% extends 'RadioActiv8/master/heading.html' %}
{% load bootstrap4 %}
{% block bootstrap4_title %}RadioActiv8 - GPS Tracker {{ gpstracker }}{% endblock %}
{% block bootstrap4_content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
<a href="{% url 'RadioActiv8:GPSTrackerList' %}">Back to tracker list</a>
<p><strong>GPS Tracker:</strong> {{ gpstracker }}</p>
<ul>
  <li>Name: {{ gpstracker.name }}</li>
  <li>EUI: {{ gpstracker.eui }}</li>
  <li>Patrol: {{ gpstracker.patrol }}</li>
</ul>
<form method="post">{% csrf_token %}
{{form}}
<input type="submit" value="Assign to Patrol">
</form>
{% endblock %}