Django
django-environ
djangorestframework
django-simple-history
psycopg2-binary
django-bootstrap4
gunicorn
django-extensions
# Just useful for debugging
ipython
setuptools # required by django-simple-history
django-debug-toolbar
