{% extends 'RadioActiv8/master/heading.html' %}
{% load bootstrap4 %}
{% block bootstrap4_title %}RadioActiv8 - Patrols{% endblock %}
{% block bootstrap4_content %}
<p>
    <label for="id_patrol_filter">Filter Patrols:</label>
    <input type="text" name="patrol_filter" value="" required id="id_patrol_filter">
</p>
{% if patrol_list %}
<ul id="patrol_list">
    {% for patrol in patrol_list %}
    <li><a href="{% url 'RadioActiv8:PatrolDetail' patrol.id %}">{{ patrol.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No Patrols are available.</p>
{% endif %}

<script>
    function filter_patrol()
    {
        var input = jQuery("#id_patrol_filter").val().toLowerCase();
        list = jQuery("#patrol_list li a");
        for(var i=0; i<list.length; i++)
        {
            if(list[i].innerText.toLowerCase().indexOf(input) > -1) list[i].parentElement.style.display = "";
            else list[i].parentElement.style.display = "none";
        }
    }
    jQuery(document).ready(function () {
        jQuery("#id_patrol_filter").on("input", filter_patrol);
    });
</script>
{% endblock %}